@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color:rgb(77, 124, 115);
$color1:rgb(215, 255, 248);

html{
    margin:0px;
    height:100%;
    font-family:'open sans';
}

body{
    margin:0px;
    background-image: url("../icons/Mountain_icon-2.svg.png");
    background-size: auto 80%;
    background-position-y: bottom;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

@mixin display($justify, $direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}

@mixin btn($bgcolor, $font-color){
    width:150px;
    height:50px;
    font-size: 20px;
    border-radius: 30px;
    border:none;
    background-color: $bgcolor;
    color:$font-color;
}

header{
    background-color: $color1;
    height:15%;
    font-size: 30px;
    @include display(space-between, row);

    nav{
        font-size: 20px;
        height: 70%;
        width:50%;
        color:white;
        background-image: linear-gradient(90deg, $color, rgba(77, 124, 115, 0.42));
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        @include display(space-around, row)
      }
}

main{
    height:80%;
    font-family: 'Arial black';
    @include display(space-around, row);
    .description{        
        font-size: 80px;
        width:50%;
        max-width: 500px;
        text-align: center;
        font-weight: bold;
         @include display(center, column);
        span{
            color:$color
        }
    }
    div{
        img{
            width:600px
        }
    }
}

.sign-in{
    @include btn($color, rgb(255, 255, 255));
    transition: all 0.25s;
    &:hover{
        background-color: rgb(231, 231, 231);
        color:$color;
    }
}

.read-more{
    @include btn(rgb(231, 231, 231), $color)
}